h1{
    -webkit-text-fill-color: #000066;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 35px;
    font-family: 'Times New Roman';
    display: inline;
}

.username {
    font-size: 20px;
    font-family: 'Times New Roman';
    display: inline;
    margin-right: 10px;
    color: black;
}

.username:hover {
    color: white;
    text-decoration: none;
}